<% input.sort((a, b) => {
    console.log(a, b)
    let fa = a.serverName.toLowerCase(),
        fb = b.serverName.toLowerCase();

    if (fa < fb) { return -1; } if (fa > fb) {
        return 1;
    }
    return 0;
}) %>

<% for(let i=0; i < input.length; i++){ const data=input[i] %>

    <div id="channel-template" class="channel<% if(data.isMuted){ %> muted<% } %>" style="margin: 8px">
        <span class="channelId" style="display: none;"><%- data.channelId %></span>
        <div class="col col-channel" style="
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-width: 1px;
      border-style: solid;
      margin-top: 5px;
      padding-bottom: 6px;
      <% if(data.isMuted) { %>
        background-color: grey;
        color: white;
        <% } %>
    ">
            <header>
                <span style="font-size: 22px">#<%- data.displayName + ' - ' + data.serverName%></span>
                <span id="micro-field" class="float-right">
                    <% if(data.isMuted){ %>
                        <svg id="micro-muted" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 16 16" fill="currentColor" class="bi bi-mic-mute-fill">
                            <path fill-rule="evenodd"
                                d="M12.734 9.613A4.995 4.995 0 0 0 13 8V7a.5.5 0 0 0-1 0v1c0 .274-.027.54-.08.799l.814.814zm-2.522 1.72A4 4 0 0 1 4 8V7a.5.5 0 0 0-1 0v1a5 5 0 0 0 4.5 4.975V15h-3a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-3v-2.025a4.973 4.973 0 0 0 2.43-.923l-.718-.719zM11 7.88V3a3 3 0 0 0-5.842-.963L11 7.879zM5 6.12l4.486 4.486A3 3 0 0 1 5 8V6.121zm8.646 7.234l-12-12 .708-.708 12 12-.708.707z">
                            </path>
                        </svg>
                        <% } else{ %>
                            <svg id="micro" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                viewBox="0 0 16 16" fill="currentColor" class="bi bi-mic-fill">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"></path>
                                <path fill-rule="evenodd"
                                    d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z">
                                </path>
                            </svg>
                            <% } %>
                </span>
            </header>
            <% for(j=0; j<data.users.length; j++){ %>
                <div class="row">
                    <div class="col" style="margin-bottom: 3px; margin-left: 27px; margin-top: 3px">
                        <img class="rounded-circle img-fluid border border-dark" src="<%- data.users[j].url%>"
                            style="height: 30px; margin-right: 7px" /><span>
                            <%- data.users[j].name%>
                        </span>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <% } %>